<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/custom/Css/Style2.css">
    <link rel="stylesheet" href="/custom/Css/Style3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>TransJo | Admin DashBoard</title>
    <link rel="icon" href="/custom/image/bus.ico" type="image/x-icon">

</head>
<body>
<div class="topnav">
    <img src="/custom/image/logo.jpg" alt="Logo" class="logo">
    <div class="user-info">
        <span>Hello Admin</span>
        <img src="/custom/image/usericon.jpg" alt="User Icon" class="user-icon">

    </div>
</div>
<div class="menu">
    <ul>
        <li class="profile">

        </li>
        <li>
            <a href="/admin/home" >
                <i class="fa-solid fa-arrow-left"></i>
                <p>Back</p>
            </a>
        </li>
        <li>
            <a href="/admin/users"class="">
                <i class="fa-solid fa-user"></i>
                <p>Users</p>
            </a>
        </li>
        <li>
            <a href="/admin/users/modifyusers"class="active">
                <i class="fa-solid fa-file-pen"></i>
                <p>Modify Users</p>
            </a>
        </li>

        <li class="logout">
            <a href="">

                <i class="fa-solid fa-right-from-bracket"></i>
                <p>Log-out</p>
            </a>
        </li>
    </ul>
</div>
<div class="content">

    <div class="container">
        <br><br>
        <div class="login-box">
            <h1>Modify User Password</h1><br><br>
            <form th:action="@{/admin/updateUser}" method="post">
                <div class="user-box">

                </div>
                <div class="user-box">

                    <input type="text" id="email" name="username" th:value="${user.email}" readonly>
                    <label for="email">Username</label>
                </div>
                <div class="user-box">

                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <input type="submit" class="button" value="Update">
            </form>

        </div>
        <p id="message"></p>

        <script>
            function editPassword(event) {
                event.preventDefault();


                if (!validatePassword(document.getElementById('new_password').value)) {
                    alert("Password must be strong! Please include at least 8 characters with a mix of uppercase, lowercase, numbers, and special characters.");
                    return;
                }


                const username = document.getElementById('username').value;
                const newPassword = document.getElementById('new_password').value;


            }

            function validatePassword(password) {

                const strongPasswordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                return strongPasswordRegex.test(password);
            }
        </script>
    </div>
</div>
</body>
</html>
